{% extends "base.html" %}
{% block title %}Dodaj Notatkę{% endblock %}
{% block content %}
<h2 class="text-primary py-5">Dodaj Nową Notatkę</h2>

<div class="container">
    <form method="POST" action="{{ url_for('notes_bp.add_note') }}">
        <div class="mb-3">
            <label for="title" class="form-label">Tytuł:</label>
            <input type="text" id="title" name="title" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="text" class="form-label">Treść:</label>
            <textarea id="text" name="text" class="form-control" rows="10" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Dodaj Notatkę</button>
    </form>
</div>
{% endblock %}
