{% extends "base.html" %}
{% block title %}Artykuły{% endblock %}

{% block content %}
    <h2 class="text-primary py-5">Artykuły</h2>

    {% if 'login' in session and session['login'] == 'admin' %}
        <div class="mb-4">
            <a href="{{ url_for('main.add_article') }}" class="btn btn-primary">Dodaj Artykuł</a>
        </div>
    {% endif %}

    <div class="list-group">
        {% for article in articles %}
            <div class="list-group-item mb-4">
                <h3 class="list-group-item-heading">{{ article.title }}</h3>
                <p class="text-muted"><em>{{ article.date.strftime('%Y-%m-%d %H:%M:%S') }}</em></p>
                <p class="list-group-item-text">
                    {{ article.text[:70] }}
                    {% if article.text|length > 70 %}
                        <span id="dots-{{ article.id }}">...</span>
                        <span id="more-{{ article.id }}" style="display:none;">{{ article.text[70:] }}</span>
                        <button onclick="toggleText({{ article.id }})" class="btn btn-outline-primary btn-sm" id="myBtn-{{ article.id }}">Zobacz więcej</button>
                    {% endif %}
                </p>
            </div>
        {% endfor %}
    </div>

    <script>
        function toggleText(id) {
            var dots = document.getElementById("dots-" + id);
            var moreText = document.getElementById("more-" + id);
            var btnText = document.getElementById("myBtn-" + id);

            if (dots.style.display === "none") {
                dots.style.display = "inline";
                btnText.innerHTML = "Zobacz więcej";
                moreText.style.display = "none";
            } else {
                dots.style.display = "none";
                btnText.innerHTML = "Zwiń";
                moreText.style.display = "inline";
            }
        }
    </script>
{% endblock %}
