{% extends "base.html" %}
{% block title %}Fiszki - Dodaj Kartę{% endblock %}
{% block content %}
<div class="group">

{% with messages  = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
    <p class="text-danger">{{message}}</p>
  {% endfor %}
{% endif %}
{% endwith %}


        <form action="#" method="post">
          <img src="{{url_for('static', filename='images/sticky_notes1.png')}}" class="card-img"/>
          <div class="form-body">
            <div class="form-group mt-3">
                <label for="form-word"
                    {% if error == 'word' %}
                    class="text-danger"
                    {% endif %}
                    >
                    Podaj słowo</label>
                <input type="text"
                   {% if error == 'word' %}
                        class="form-control border border-danger transparent-input w-50 text-center"
                   {% else %}
                        class="form-control transparent-input w-50 text-center"
                   {% endif %}
                   id="form-word" name="word">
              </div>
              <div class="form-group mt-3">
                <label for="passwordInput"
                   {% if error == 'translation' %}
                    class="text-danger"
                    {% endif %}
                  >Podaj jego tłumaczenie</label>
                <input
                    type="text"
                    {% if error == 'translation' %}
                        class="form-control border border-danger transparent-input w-50 text-center"
                    {% else %}
                        class="form-control transparent-input w-50 text-center"
                    {% endif %}
                    id="passwordInput"
                    name="translation"
                  >
              </div>
            </div>
          <button type="submit" class="btn btn-primary mt-3">Dodaj</button>
        </form>
    </div>

    {% if cards %}
    <div class="board">
        <img src="{{url_for('static', filename='images/pin_board.jpg')}}" class="board-img"/>
         <div class="row justify-content-start flex-wrap">
            {% for card in cards %}
            <div class="p-0 m-3 position-relative" style="width: 15%">
                <a class="position-absolute text-decoration-none text-dark" href="/delete_card/{{card.id}}" style="top:20%; right: 0%">
                    <img src="{{url_for('static', filename='images/close_icon.png')}}"/>
                </a>
                <img src="{{url_for('static', filename='images/sticky_note.png')}}"/>
                <div class="position-absolute text-center " style="top:35%; left: 30%">
                    <p>Słowo: {{card.word}} </p>
                    <p>Tłumaczenie: {{card.translation}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}