{% extends "base.html" %}
{% block title %}Fiszki - Statystki profilu{% endblock %}
{% block content %}




     {% if groups %}
        {% for group in groups %}
            <div class="d-flex w-100 justify-content-between" >
                <div>
                    <img src="{{url_for('static', filename='images/close_icon.png')}}"/>
                    {{group.lang}}
                </div>
                <div>{{group.name}}</div>
                <div>{{group.completion}} %</div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}