{% extends "base.html" %}
{% block title %}Wydarzenie{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="py-5 text-center text-primary">{{ form_title }}</h1>
        <form method="POST" action="{{ form_action }}">
            <div class="mb-3">
                <label for="title" class="form-label">Tytuł</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ event.title if event else '' }}" required>
            </div>
            <div class="mb-3">
                <label for="date" class="form-label">Data</label>
                <input type="date" class="form-control" id="date" name="date" value="{{ event.date if event else date }}" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Opis</label>
                <textarea class="form-control" id="description" name="description" rows="3">{{ event.description if event else '' }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">{{ button_text }}</button>
        </form>
    </div>
{% endblock %}