{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="row justify-content-center">

    <h2 class="text-center">Witaj na głównej stronie Fiszek</h2>
    <p class="text-center px-5 py-2">Dzięki tej aplikacji przyswoisz słówka w obcym jęzku w błyskawiczny sposób, a gdzięki panelowi statystyk możęsz kontrolować swój progress</p>
    <div class="card col-sm p-0 m-2" style="width: 12rem;">
        <img src="{{url_for('static', filename='images/learning.png')}}" class="border-top border-bottom border-3 border-primary"/>
      <div class="card-body p-0">
        <div class="px-3 py-4">
            <h5 class="card-title">Ćwicz</h5>
            <p class="card-text">Wybierz lekcje ze swojej kolekcji i zacznij ćwiczyczenie</p>
        </div>
        <a href="#" class="btn btn-primary w-100 mt-10 rounded-0 rounded-bottom">Przejdź <img src="{{url_for('static', filename='images/arrow.png')}}" class="mw-100"/></a>
      </div>
    </div>
    <div class="card col-sm p-0 m-2" style="width: 12rem;">
        <img src="{{url_for('static', filename='images/sticky_notes_box.png')}}" class="border-bottom border-top border-3 border-primary"/>
      <div class="card-body p-0">
        <div class="px-3 py-4">
            <h5 class="card-title">Przeglądaj kolekcję</h5>
            <p class="card-text">Przejrzyj lub edytuj swoją kolekcję fiszek</p>
        </div>
        <a href="#" class="btn btn-primary w-100 mt-10 rounded-0 rounded-bottom">Przejdź <img src="{{url_for('static', filename='images/arrow.png')}}" class="mw-100"/></a>
      </div>
    </div>
    <div class="card col-sm p-0 m-2" style="width: 12rem;">
        <img src="{{url_for('static', filename='images/graph.png')}}" class="border-bottom border-top border-3 border-primary"/>
      <div class="card-body p-0">
        <div class="px-3 py-4">
            <h5 class="card-title">Statystyki</h5>
            <p class="card-text">Sprawdź swoj postępy w nauce</p>
        </div>
        <a href="#" class="btn btn-primary w-100 mt-10 rounded-0 rounded-bottom">Przejdź <img src="{{url_for('static', filename='images/arrow.png')}}" class="mw-100 m-10" /></a>
      </div>
    </div>
</div>
{% endblock %}